[flake8]
max_line_length = 120

exclude =
    __pycache__,
    .git,
    .github,
    build,
    doc,
    examples,
    cppwg/templates,
    tests,
    venv,

docstring-convention=numpy

# D200 One-line docstring should fit on one line with quotes
extend-ignore = D200
